.traduzioni {
  margin-top: 10rem;
  h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .translation-list-header {
    margin-block: 3.5rem -0.5rem;
    &.first {
      margin-top: 0;
    }
  }
}
