.traduzioni {
  margin-top: 10rem;

  button {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .translation-list-header {
    margin-block: 2rem -0.5rem;
    &.first {
      margin-top: 0;
    }
  }
}
