section.traduzioni {
  margin-top: 12rem;
  @media (min-width: $width2) {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    max-width: 65rem;
    margin-inline: auto;
  }

  .toggle-show-list {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding-inline: 0;
    @media (min-width: $width4) {
      pointer-events: none;
      cursor: default;
    }
  }
  .translation-list-header {
    margin-block: 2rem -0.5rem;
    p {
      font-weight: 500;
    }
    &.first {
      margin-top: 0;
      @media (min-width: $width2) {
        margin-top: 2rem;
      }
    }
  }

  a:hover {
    text-decoration: none;
  }

  @media (min-width: $width4) {
    .traduzioni-charts {
      display: flex;
      justify-content: space-between;
      .song-list {
        width: 16rem;
      }
    }
  }
}
