form {
  background-color: $blackColor;
  display: flex;
  height: 3rem;
  border-radius: 5rem;
  justify-content: space-between;
  margin-top: 3.9rem;
  position: relative;
  z-index: 9;
  border: 2px soilid transparent;
  width: min(100%, 30rem);
  &:focus-within {
    outline: 3px solid $accentColor;
  }
  &.homepage {
    align-items: center;
    input {
      height: 100%;
    }
    button {
      margin: 0.25rem 0.45rem 0.25rem 0.25rem;
      width: 35px;
      height: 35px;
    }
  }

  input {
    border: none;
    background-color: inherit;
    color: white;
    border-radius: 50%;
    padding: 1rem 0 1rem 1rem;
    font-size: 0.8rem;
    @media (min-width: $width2) {
      font-size: 1rem;
      padding: 1.1rem 0 1.1rem 1.1rem;
    }
    width: 100%;
    color: white;
    position: relative;
    &:focus-visible {
      outline: none;
    }
  }
  button {
    background-color: $accentColor;
    display: grid;
    place-content: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 0.25rem 0.35rem 0.25rem 0.25rem;
    width: 40px;
    height: 40px;
    transition-duration: 300ms;

    svg {
      min-width: 18px;
      max-width: 18px;
      max-height: 18px;
    }
  }
  &.from-traduzioni {
    background-color: $whiteColor;
    align-items: center;
    height: 2.75rem;
    margin-inline: auto;
    width: min(100%, 45rem);

    @media (min-width: $width2) {
      height: 3.2rem;
    }
    input {
      height: 100%;
      color: $blackColor;
      &::placeholder {
        color: $blackColor;
      }
    }
    button {
      margin: 0.15rem;
      @media (min-width: $width2) {
        margin-right: 0.39rem;
      }
    }
  }
  &.navbar-search {
    background-color: $whiteColor;
    align-items: center;
    height: 2.75rem;
    input {
      height: 100%;
      color: $blackColor;
      &::placeholder {
        color: $blackColor;
      }
    }
  }

  &.from-navbar {
    width: 100vw;
    margin-inline: -2rem;
    margin-top: 1.5rem;
    background-color: rgb(59, 59, 59);
    border-radius: 0;
    height: 3rem;
    padding-inline: 2rem;
    &:focus-within {
      outline: none;
    }
    @media (min-width: $width2) {
      margin-inline: -6%;
      padding-inline: 6%;
    }
    input {
      padding: 0;
    }
    button {
      background-color: transparent;
      margin-inline: 0;
    }
  }
}

.searchbar-container {
  // contains from-navbar only
  display: flex;
  width: 100vw;
}

@media (min-width: $width6) {
  form.homepage {
    height: 6vh;
    width: 39vw;
    align-items: center;

    input {
      font-size: 1vw;
    }
    button {
      width: 4.5vh;
      height: 4.5vh;
      margin-right: 1vh;
      svg {
        width: 2vw;
        height: 2vw;
      }
    }
  }
}
