form {
  background-color: $blackColor;
  display: flex;
  height: 3rem;
  border-radius: 5rem;
  justify-content: space-between;
  margin-top: 1.5rem;
  position: relative;
  z-index: 9;
  border: 2px soilid transparent;

  input {
    border: none;
    background-color: inherit;
    color: white;
    border-radius: 2rem;
    padding: 1rem 0 1rem 1rem;
    font-size: 0.8rem;
    width: 100%;
    color: white;
    position: relative;

    &:focus-visible {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      outline: none;
      background-color: rgb(62, 62, 62);
      & + button {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin: 0.25rem;
        // width: 48px;
        // height: 48px;
        // margin: 0;
      }
    }
  }
  button {
    background-color: $accentColor;
    display: grid;
    place-content: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 0.25rem 0.35rem 0.25rem 0.25rem;
    width: 40px;
    height: 40px;
    transition-duration: 300ms;

    svg {
      min-width: 18px;
      max-width: 18px;
      max-height: 18px;
    }
  }
  &.from-traduzioni {
    background-color: $whiteColor;
    align-items: center;
    height: 2.75rem;
    input {
      height: 100%;
      color: $blackColor;
      &::placeholder {
        color: $blackColor;
      }
      &:focus-visible {
        background-color: rgb(197, 197, 197);
        &::placeholder {
          color: black;
        }
        & + button {
          margin: 0.15rem;
        }
      }
    }
    button {
      margin: 0.15rem;
    }
  }
  &.navbar-search {
    background-color: $whiteColor;
    align-items: center;
    height: 2.75rem;
    input {
      height: 100%;
      color: $blackColor;
      &::placeholder {
        color: $blackColor;
      }
    }
  }
  &.from-navbar {
    width: 100vw;
    margin-inline: -2rem;
    background-color: rgb(59, 59, 59);
    border-radius: 0;
    height: 3rem;
    padding-inline: 2rem;

    input {
      padding: 0;
      &:focus-visible {
        width: 100%;
        margin-left: -2rem;
        padding-left: 2rem;
        border-radius: 0;
        background-color: rgb(68, 68, 68);
        &::placeholder {
          color: white;
        }
      }
    }
    button {
      background-color: transparent;
      margin-inline: 0;
      &:focus-visible {
        outline: none;
        background-color: $accentColor;
      }
    }
  }
}
