form {
  background-color: $blackColor;
  display: flex;
  height: 3rem;
  border-radius: 5rem;
  justify-content: space-between;
  margin-top: 1.5rem;
  position: relative;
  z-index: 9;
  &.input-focused {
    outline: 2px solid $accentColor;
  }

  input {
    border: none;
    background-color: inherit;
    color: white;
    border-radius: 2rem;
    padding: 1rem 0 1rem 1rem;
    font-size: 0.8rem;
    width: 80%;
    color: white;
    &:focus-visible {
      border: none;
      outline: none;
    }
  }
  button {
    background-color: $accentColor;
    display: grid;
    place-content: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 0.25rem 0.35rem 0.25rem 0.25rem;
    width: 40px;
    height: 40px;

    svg {
      min-width: 18px;
      max-width: 18px;
      max-height: 18px;
    }
  }
  &.from-traduzioni {
    background-color: $whiteColor;
    align-items: center;
    height: 2.75rem;
    input {
      height: 100%;
      color: $blackColor;
      &::placeholder {
        color: $blackColor;
      }
    }
  }
  &.navbar-search {
    background-color: $whiteColor;
    align-items: center;
    height: 2.75rem;
    input {
      height: 100%;
      color: $blackColor;
      &::placeholder {
        color: $blackColor;
      }
    }
  }
  &.from-navbar {
    width: 100vw;
    margin-inline: -2rem;
    background-color: rgb(59, 59, 59);
    border-radius: 0;
    height: 3rem;
    padding-inline: 2rem;

    input {
      padding: 0;
    }
    button {
      background-color: transparent;
      margin-inline: 0;
    }
  }
}
