.song-page-main {
  padding-top: calc(min(35vw, 130px) * 2);
  h1 {
    font-size: 1.25rem;
    margin-block: -1rem 1rem;
  }
  .translated-text,
  .original-text {
    font-size: $normalText;
  }

  .desktop-only-section {
    display: none;
  }

  .song-page-secondary-section {
    background-color: $blackColor;
    color: $whiteColor;
    margin: -2rem;
    margin-top: 0;
    padding: 2rem;

    h2 {
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 1.25rem;
    }
    p {
      margin-bottom: 2rem;
      font-size: $normalText;
    }
    ul {
      list-style: none;
      padding: 0;

      a {
        color: $whiteColor;
        font-size: 0.9rem;
        font-weight: 600;
      }
    }
  }
}

@media (min-width: $width2) {
  .song-page-main {
    padding-top: calc(min(35vw, 130px) * 2.5);
    .song-page-first-section {
      @include max60;
    }
    .song-page-secondary-section {
      width: 100vw;
      margin-inline: -7%;
    }
    .secondary-section-content {
      @include max50;
    }
  }
}
@media (min-width: $width5) {
  .song-page-main {
    padding-top: calc(min(35vw, 130px) * 2.75);

    .song-page-first-section {
      display: none;
    }

    .desktop-only-section {
      display: flex;
      justify-content: space-between;
      max-width: 55rem;
      margin-inline: auto;
    }

    .secondary-section-content {
      display: flex;
      gap: 3rem;
      max-width: 60rem;
    }

    .secondary-section-description {
      flex-basis: 66%;
    }
  }
}

body.margin-top {
  top: 2rem;
}
