.song-page-main {
  padding-top: calc(min(35vw, 130px) * 2);
  h1 {
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.25rem;
    margin-block: -1rem 1rem;
    font-weight: 600;
  }
  .translated-text,
  .original-text {
    font-size: $normalText;
    margin-bottom: 5rem;
    line-height: 1.75;
    white-space: nowrap;
  }

  .desktop-only-section {
    display: none;
  }

  .song-page-secondary-section {
    background-color: $blackColor;
    color: $whiteColor;
    margin: -2rem;
    margin-top: 0;
    padding: 3.5rem 2rem;

    h2 {
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 1.25rem;
    }
    p {
      font-size: $normalText;
    }
    ul {
      list-style: none;
      padding: 0;

      a {
        color: $whiteColor;
        font-size: 1rem;
        font-weight: 600;
      }
    }

    @media (max-width: $width5) {
      .suggest-song h2 {
        margin-top: 2rem;
      }
    }
  }
}

@media (min-width: $width2) {
  .song-page-main {
    padding-top: calc(min(35vw, 130px) * 2.5);
    .song-page-first-section {
      @include max60;
    }
    .song-page-secondary-section {
      width: 100vw;
      margin-inline: -7%;
    }
    .secondary-section-content {
      @include max50;
    }
  }
}
@media (min-width: $width5) {
  .song-page-main {
    padding-top: calc(min(35vw, 130px) * 2.75);

    .song-page-first-section {
      display: none;
    }

    .desktop-only-section {
      display: flex;
      justify-content: space-between;
      max-width: 65rem;
      margin-inline: auto;
      gap: 2rem;
    }

    .secondary-section-content {
      display: flex;
      gap: 7rem;
      max-width: 65rem;
    }

    .secondary-section-description {
      flex-basis: 63%;
    }
    .suggest-song {
      flex-basis: 30%;
    }
  }
}

body.margin-top {
  top: 2rem;
}
