.single-album {
  display: flex;
  flex-direction: column;
  background-color: $blackColor;
  padding: 2.5rem;
  border-radius: 0.75rem;
  color: $whiteColor;
  align-items: center;
  img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
  }
  .album-name {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      font-size: 0.75rem;
      color: hsla(0, 33%, 97%, 0.6);
      a {
        color: $whiteColor;
        text-decoration: none;
      }
    }
  }
}
