.single-album {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 0.75rem;
  color: $blackColor;

  .top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-inline: -2rem;
    padding-inline: 2rem;
  }

  img {
    width: 70px;
    height: 70px;
  }

  .album-name {
    font-size: 1.25rem;
    font-weight: 500;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    li {
      font-size: $normalText;
      color: hsla(0, 0%, 23%, 0.6);
      position: relative;
      background-color: $whiteColor;
      padding-block: 1rem;
      border-bottom: 1px solid hsla(0, 0%, 23%, 0.1);
      margin-inline: -2rem;
      padding-inline: 2rem;
      &.not-translated {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .no-translation-available {
          font-weight: 500;
          font-size: 1.1rem;
          cursor: pointer;
          width: 50%;
          text-align: end;

          svg {
            opacity: 0.7;
          }
        }
        .more-info {
          color: $accentColor;
          text-decoration: underline;
        }
      }
      &.translated {
        background-color: rgb(255, 255, 255);
        padding: 0;
        a {
          color: $blackColor;
          font-weight: 600;
          padding-block: 1rem;
          padding-inline: 2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .category {
            font-weight: 700;
            opacity: 0.5;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
