main.artist-page {
  margin: -2rem; //remove body padding
  .artist-info {
    background-color: $blackColor;
    color: white;
    padding: 0 2rem 2.5rem 2rem;
    border-bottom-right-radius: 3rem;
  }
  .artist-name {
    font-weight: 500;
    margin-block: 0.25rem 0.85rem;
    font-size: 2.25rem;
  }

  .tags {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    margin-bottom: 1.75rem;
    p {
      background-color: $whiteColor;
      color: $blackColor;
      padding: 0.15rem 0.75rem;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-family: $roboto;
      font-weight: 700;
      border-radius: 3rem;
      opacity: 0.6;
    }
  }
  .description {
    font-size: $normalText;
  }

  .album-header {
    margin-inline: 2rem;
    margin-block: 2rem 1rem;
    font-weight: 500;
    font-size: 1.35rem;
  }

  .albums-section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}
