.single-artist-article {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-block: 1.7rem;
  position: relative;
  &::after {
    content: "";
    width: 100vw;
    height: 2px;
    background-color: $blackColor;
    position: absolute;
    bottom: calc(-0.85rem - 1px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
  }

  .info {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .main-info {
      h5 {
        margin: 0;
        font-size: 1rem;
      }
    }

    .category {
      font-size: 0.85em;
      font-weight: 700;
      opacity: 0.5;
    }
  }
  .position {
    font-size: 1.5rem;
  }
}
