.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  height: 100px;

  .logo {
    display: flex;
    gap: 0.5rem;
    p {
      font-family: $fredoka;
      font-size: 1.5rem;
      color: $accentColor;
    }
  }

  .navbar-items {
    display: flex;
    gap: 1rem;
  }
}

.black-navbar {
  background-color: $blackColor;
  margin: -2rem;
  margin-top: -4rem;
  padding: 2rem;
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom-right-radius: 2rem;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid $whiteColor;
}

.navbar.navbar-contattaci {
  background-color: $blackColor;
  margin: -2rem;
  padding: 2rem;
}
