nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  height: 100px;
  z-index: 3;

  &.unfixed {
    position: static;
    padding: 0;
    height: auto;
  }

  .logo {
    display: flex;
    gap: 0.5rem;
    p {
      font-family: $fredoka;
      font-size: 1.5rem;
      color: $accentColor;
    }
  }

  .navbar-items {
    display: flex;
    gap: 1rem;
  }

  button {
    transition-duration: 500ms;
    &.close {
      opacity: 0;
      transform: rotate(100deg);
    }
  }
}

.black-navbar {
  background-color: $blackColor;
  margin: -2rem;
  margin-top: -4rem;
  padding: 2rem;
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom-right-radius: 2rem;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid $whiteColor;
  z-index: 9;
  //? traduzioni page navbar fix
  &.traduzioni {
    margin-top: 0;
    top: 0;
    nav {
      position: static;
      padding: 0;
      height: auto;
    }
  }
}

.navbar.navbar-contattaci {
  background-color: $blackColor;
  padding: 2rem;
  width: 100%;
}
