.results-list {
  margin-bottom: 3rem;
  .results-header {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
  }
  .no-results-found {
    font-size: 1rem;
  }
}
.loader-spinner-traduzioni {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
