.breadcrumb {
  font-size: 0.75rem;
  font-weight: 300;
  margin-block: 1rem 0.35rem;
  color: rgba(255, 255, 255, 0.7);
  a {
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      color: white;
    }
  }

  .breadcrumb-divider {
    margin-inline: 0.15rem;
  }

  .active {
    color: white;
    font-weight: 500;
    opacity: 0.9;
  }

  @media (min-width: $width2) {
    margin-bottom: 0;
  }
}
