.single-song-link {
  color: $blackColor;
  text-decoration: none;
  &:hover {
    color: $blackColor;
  }
  .single-most-searched {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    margin-block: 1.7rem;
    position: relative;
    align-items: center;
    height: 60px; //same as img
    width: 12rem;
    @media (min-width: $width4) {
      width: 15rem;
    }
    &::after {
      content: "";
      width: 100vw;
      height: 2px;
      background-color: $blackColor;
      position: absolute;
      bottom: calc(-0.85rem - 1px);
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.3;
      @media (min-width: $width2) {
        width: 0;
      }
    }

    .left-part {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    img {
      width: 60px;
      height: 60px;
    }

    .info {
      height: auto;
      display: flex;
      flex-direction: column;
      height: 60px;
      justify-content: space-between;
      width: 100%;
      .main-info {
        p {
          line-height: 0.75;
          font-weight: 300;
          font-style: italic;
          opacity: 0.6;
        }
        h5 {
          margin: 0;
          font-size: 0.75rem;
          font-weight: 500;
          @media (min-width: $width2) {
            font-size: 1rem;
          }
        }
      }

      .category {
        font-size: 0.85em;
        font-weight: 700;
        opacity: 0.5;
      }
    }
    .position {
      font-size: 1.5rem;
    }
  }
}

.desktop-single-song {
  display: none;
  @media (min-width: $width4) {
    display: block;
  }
}
.mobile-single-song {
  display: block;
  @media (min-width: $width4) {
    display: none;
  }
}
