.nav-links {
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.92;
  background-color: $blackColor;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition-duration: 300ms;
  z-index: 99999;

  &.open {
    transform: translateY(100vh);
  }

  button {
    background-color: transparent;
    transition-duration: 500ms;
    &.open {
      transform: rotate(360deg);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    gap: 1rem;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  li a {
    color: $whiteColor;
    font-size: 2rem;
    font-family: $roboto;
    text-decoration: none;
    &:hover {
      color: $accentColor;
    }
  }
}

body.nav-menu-on {
  height: 100vh;
  overflow-y: hidden;
}

@media (min-width: $width2) {
  .nav-links {
    position: initial;
    background-color: initial;
    height: initial;
    padding: initial;
    flex-direction: row;
    color: $blackColor;
    transition-duration: 0ms;

    .close-menu {
      display: none;
    }

    ul {
      flex-direction: row;
      font-weight: 600;
      gap: 2rem;
      @media (min-width: $width4) {
        gap: 3.5rem;
      }
    }
    li a {
      font-size: 1.1rem;
      text-transform: uppercase;
    }
  }
}
