.suggestions-section {
  background-color: $blackColor;
  color: $whiteColor;
  position: absolute;
  width: calc(100% - 4rem);
  transform: translateY(-1.5rem);
  z-index: 5;
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 0.5rem;
  overflow-y: scroll;
  max-height: 17.5rem;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 1.5rem;
    li {
      margin-bottom: 0.25rem;
      &:last-of-type {
        margin-bottom: 0.75rem;
      }
    }
    .image-and-title-container {
      display: flex;
      align-items: flex-start;
      gap: 0.75rem;
    }
    a {
      color: $whiteColor;
      display: flex;
      width: 100%;
      justify-content: space-between;
      text-decoration: none;
      height: 3.25rem;
      padding: 0.5rem;
      position: relative;
    }
  }
  .suggestion-left-part {
    font-size: 0.75rem;
    display: flex;
    align-items: flex-end;
  }
  .suggestion-right-part {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 0.65rem;
    .category-tag {
      opacity: 0.6;
      font-family: $roboto;
      text-transform: uppercase;
    }
    .artist {
      opacity: 0.7;
    }
  }
}

.suggestions-section.traduzioni {
  top: -1.5rem;
  left: 0;
  width: 100%;
  // padding: 0.5rem 2rem 0.75rem;
}
.suggestions-section.navbar {
  top: 9rem;
  width: 100%;
  left: 0;
  padding: 0.5rem 2rem 0.75rem;
  background-color: rgb(59, 59, 59);
  @media (min-width: $width2) {
    padding-inline: 20%;
    ul {
      margin-top: 3rem;
    }
    a {
      padding: 1rem 0;
      align-items: center;
      max-width: 35rem;
      margin-inline: auto;
      p {
        font-size: 0.9rem;
      }
    }
  }
}

@media (min-width: $width3) {
  .home-main .suggestions-section {
    width: min(100%, 26vw);
  }
  .suggestions-section.traduzioni {
    width: min(100%, 45rem);
    left: 50%;
    transform: translateX(-50%);
    top: -3.9rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  }
  .suggestion-left-part {
    font-size: 0.9rem;
  }
  .suggestion-left-right {
    font-size: 0.75rem;
  }
}
@media (min-width: 850px) {
  .suggestions-section.traduzioni {
    background-color: $whiteColor;
    a {
      color: $blackColor;
    }
  }
}
