// body.no-overflow > div {
//    overflow: hidden;
// }
.home {
  margin-top: 1.5rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    font-family: $fredoka;
    font-size: 1.75rem;
    margin: 0;
    &:last-of-type {
      margin-bottom: 1rem;
      // @media (max-height: $height1) {
      //   // smaller screen fix
      //   margin-bottom: 0.25rem;
      // }
    }
  }

  .subtitle {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    // @media (max-height: $height1) {
    //   // smaller screen fix
    //   margin-bottom: 1.5rem;
    // }
  }

  .view-others {
    font-size: 0.75rem;
    display: block;
    width: 60%;
    color: $blackColor;
    margin-top: 2rem;
    // @media (max-height: $height1) {
    //   // smaller screen fix
    //   margin-top: 1.25rem;
    // }
  }
}

.hero-illustration {
  // position: absolute;
  // left: 0;
  // bottom: 0;
  width: 100vw;
  margin-inline: -2rem;
  margin-block: -8rem;
  pointer-events: none;
  @media (min-height: 930px) {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
  }
  svg {
    width: 100%;
    margin-bottom: -1rem;
  }
}
