body {
  font-family: $inter;
  padding: 2rem;
  color: $blackColor;
  background-color: $whiteColor;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  @media (min-width: $width2) {
    padding: 3rem 6%;
  }
}

span.inline {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

span.light-weight-text {
  font-weight: 300;
}

html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  background-color: transparent;
}

//? changing elements inside body based on its class

body.margin-top-searchbar {
  main.contattaci-page {
    margin-top: 8rem;
  }

  .song-page-main {
    padding-top: calc(min(35vw, 130px) * 2 + 4.5rem);
  }
}

body.no-overflow {
  @media (min-width: $width5) {
    overflow-y: hidden;
  }
}

* :focus-visible {
  outline: 3px dotted $accentColor;
}

a {
  color: $whiteColor;
  text-decoration: underline;
  &:hover {
    color: $accentColor;
  }
}
