body {
  font-family: $inter;
  padding: 2rem;
  color: $blackColor;
  background-color: $whiteColor;
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

span.inline {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

span.light-weight-text {
  font-weight: 300;
}

html {
  height: 100%;
}
