.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    gap: 0.5rem;
    p {
      font-family: $fredoka;
      font-size: 1.5rem;
      color: $accentColor;
    }
  }

  .navbar-items {
    display: flex;
    gap: 1rem;
  }
}
