//? COLORS
$whiteColor: hsl(340, 27%, 96%);
$accentColor: hsl(338, 58%, 52%);
$blackColor: hsl(0, 0%, 17%);

//? FONTS
$roboto: "Roboto Condensed", sans-serif;
$fredoka: "Fredoka One", sans-serif;
$inter: "Inter", sans-serif;
$poppins: "Poppins", sans-serif;
