//? COLORS
$whiteColor: hsl(340, 27%, 97%);
$accentColor: hsl(338, 58%, 52%);
$blackColor: hsl(0, 0%, 17%);

//? FONTS
$roboto: "Roboto Condensed", sans-serif;
$fredoka: "Fredoka One", sans-serif;
$inter: "Inter", sans-serif;
$poppins: "Poppins", sans-serif;

//? MEDIA QUERIES
$height1: 775px;
$height0: 730px;
